.ButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	button {
		box-shadow: -2px 0 2px rgba(0, 0, 0, 20%);

		&:hover {
			box-shadow: -2px 0 2px rgba(100, 108, 255, 100%);
		}
	}
}
